# Игнорировать файлы среды разработки
.idea/

# Игнорировать файлы результатов сборки
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы интерфейсов UI
*.ui

